<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBERUzYtcsxj-s75rWik3g7K_NVs0TUQ4U</string>
	<key>GCM_SENDER_ID</key>
	<string>135039799734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profiler</string>
	<key>PROJECT_ID</key>
	<string>test-app-89d4b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-89d4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135039799734:ios:efc8ee1b9ea541e0543117</string>
</dict>
</plist>